<!doctype html5>

<html>
<head>
  <title>ttt</title>
  <script type="text/javascript">

    function send(command, options) {
      options.command = command

      data = JSON.stringify(options)
      sock.send(data)
    };

    sock = new WebSocket('ws://0.0.0.0:8080')

    sock.onopen = function(handshake) {
      console.log("open" + handshake)
      send('register', { name: "hello world" })
    }

    sock.onmessage = function(message) {
      console.log("received message")
      data = JSON.parse(message.data)
      console.log(data)
    }

    sock.onerror = function(error) {
      console.log("error")
    }

    sock.onclose = function(error) {
      console.log("closed")
    }
  </script>
</head>
<body>
  hello
</body>
</html>


