<!doctype html5>

<html>
<head>
  <title>ttt</title>
  <script type="text/javascript" src="js/room_list.js"></script>
  <script type="text/javascript" src="js/board.js"></script>
  <script type="text/javascript">

    this.ttt = {
      room_list: new RoomListController(),
      board: new BoardController(),
    }

    function send(command, options) {
      options.command = command

      data = JSON.stringify(options)
      sock.send(data)
    };

    sock = new WebSocket('ws://0.0.0.0:8080')

    sock.onopen = function(handshake) {
      console.log("open" + handshake)
      send('register', { name: "hello world" })
    }

    sock.onmessage = function(message) {
      console.log("received message")
      data = JSON.parse(message.data)
      console.log(data)

      if (data.command == 'user_info') {
        send('room_create', { name: 'Some Room' })
      }
      if (data.command == 'room_list') {
        ttt.room_list.loadRoomList(data.rooms)
        ttt.room_list.view.draw()
      }
      if (data.command == 'room_joined') {
        room = data.room
        console.log("joined room")
        console.log(room)

        ttt.board.view.draw()
      }
    }

    sock.onerror = function(error) {
      console.log("error")
    }

    sock.onclose = function(error) {
      console.log("closed")
    }

  </script>
</head>
<body>
  <div id="app">application goes here</div>
</body>
</html>


