<!doctype html5>

<html>
<head>
  <title>ttt</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link type="text/css" rel="stylesheet" href="css/style.css"/>
  <script type="text/javascript" src="js/dominate.min.js"></script>
  <script type="text/javascript" src="js/status.js"></script>
  <script type="text/javascript" src="js/alert.js"></script>
  <script type="text/javascript" src="js/room_list.js"></script>
  <script type="text/javascript" src="js/board.js"></script>
  <script type="text/javascript" src="js/game.js"></script>
  <script type="text/javascript">
    game = new Game('ws://0.0.0.0:8080');

    document.addEventListener("DOMContentLoaded", function(event) {
      game.init();
    });
  </script>
</head>
<body>
  <h1>Tic Tac Toe</h1>
  <div id="app"></div>
  <div id="status"></div>
</body>
</html>


