body {
  font-size:62.5%;
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  color: #BEE9C8;
  background-color: #103942;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}

dl {
  margin: 0;
}

dl dt {
  display: inline-block;
  font-weight: bold;
  padding-right: 10px;
  width: 40px;
}

dl dt:after {
  content: ':';
}

dl dd {
  display: inline;
  margin: 0;
}

dl dd:after {
  display: block;
  content: '';
}

.button {
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
}

.button:hover {
  background-color: rgba(0,0,0,0.4);
}

.alert {
  background-color: #103942;
  width: 540px;
  padding: 30px;
  display: block;
  position: absolute;
  left: -300px;
  margin-left: 50%;
  top: 150px;
  font-size: 2em;
  box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.2)
}

.alert .button {
  font-size: 0.75em;
  float: right;
}

.alert .description {
  text-align: center;
  margin-bottom: 10px;
}

.input {
  background-color: rgba(0,0,0,0.3);
  padding: 5px;
  color: white;
  font-size: 0.7em;
  border: 0;
  font-family: 'Lato', sans-serif;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
}

.scores {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  font-size: 1.5em;
  margin: 0 auto;
}

.game {
  display: flex;
  min-width: 600px;
  background-color: green;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
  width: 0;
}

.game .info {
  width: 180px;
  padding: 10px;
  background-color: rgba(0,0,0,0.3);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game .info .title {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.game .info .turn {
  background-color: rgba(0,0,0,0.2);
  width 100%;
  padding: 5px;
  align-self: stretch;
  font-size: 0.75em;
  text-align: center;
}

.game .players .player {
  background-color: rgba(0,0,0,0.2);
  padding: 5px;
  font-size: 0.7em;
  margin-bottom: 10px;
  position: relative;
}

.game .players .player .piece {
  width: 41px;
  position: absolute;
  right: 0;
  bottom: 0;

  padding-right: 5px;
  padding-bottom: 1px;

  line-height: 1em;
  text-align: center;
  font-weight: bold;
  font-size: 5em;

  color: rgba(255,255,255,0.2);
}

.game .board {

}

.board {
}

.board .waiting {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2em;
  position: fixed;
  top: 40%;
  left: 0;
  right: 0;

}

.board .piece {
  width: 120px;
  height: 120px;
  margin: 4px;
  border-spacing: 10px;
  background-color: rgba(255,255,255,0.1);
  cursor: pointer;
  color: white;


  text-align: center;
  font-size: 6em;
  text-shadow: 3px 3px 20px rgba(0,0,0,0.5);
  line-height: 1em;
  text-transform: uppercase;
  font-weight: bold;
}

.board .piece:hover {
  background-color: rgba(255,255,255,0.3);
}

.board .piece:nth-child(3n+1) {
  clear: both;
}

.container {
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
  padding: 10px;
}

#room-list {
  width: 600px;
  margin: 0 auto;
  font-size: 1.5em;
}

#room-list .options {
  text-align: right;
}

#room-list .entry {
  background-color: rgba(0,0,0,0.3);
  font-size: 0.9em;
  cursor: pointer;
  padding: 4px;
}

#room-list .button {
  margin-top: 10px;
}

#room-list .entry.nohover {
  background-color: rgba(0,0,0,0.3) !important;
}

#room-list .entry.title {
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
  margin-bottom: 5px;
}

#room-list .entry.empty {
  cursor: default;
  text-align: center;
}

#room-list .entry:hover {
  background-color: rgba(255,255,255,0.15);
}

#room-list .entry .name {
  width: 300px;
  display: inline-block;
}

#room-list .entry .password {
  width: 30px;
  display: inline-block;
}

#room-list .entry .size {
  width: 40px;
  display: inline-block;
}

#status {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#status .inner {
  width: 600px;
  margin: 0 auto;
  height: 20px;
  display: block;
  font-size: 1.2em;
  text-align: center;
}
